@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap); /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-color-dark: #000000;
  --main-color-middle: #757575;
  --main-color-light: #FFFFFF;
  --main-bg-color-light: #ffffff;
  --main-bg-color-middle: #F5F4FA;
  --main-bg-color-middle-second: #AFB1B8;
  --main-bg-color-dark: #2F303A;
  --ad-color-light: #2196F3;
  --ad-color-dark: #212121;
  --main-font: "Roboto", arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--main-bg-color-light);
  color: var(--main-color-dark);
  font-family: var(--main-font);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-hidden {
  display: none;
}

.logo {
  display: block;
  color: var(--main-color-dark);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-adcolor {
  color: var(--ad-color-light);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  min-width: 216px;
  background-color: var(--ad-color-light);
  border-radius: 4px;
  border: none;
  color: var(--main-color-light);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.title {
  margin: 0 0 50px 0;
  color: var(--ad-color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__mob-menu {
  display: block;
  padding: 10px 0;
}

.page-header__main-menu {
  display: none;
}

.page-header__header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__mob-menu {
    display: none;
  }
  .page-header__main-menu {
    display: flex;
  }
  .page-header__item:not(:last-child) {
    margin-right: 50px;
  }
  .page-header__site-nav {
    margin-left: 88px;
  }
  .page-header__header-contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .page-header__link {
    display: block;
    padding: 32px 0;
    position: relative;
    color: var(--main-color-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__link--active {
    color: var(--ad-color-light);
  }
  .page-header__link--active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ad-color-light);
  }
  .page-header__item-contact:first-child {
    margin-bottom: 10px;
  }
  .page-header__link-e-mail {
    display: flex;
    color: var(--main-color-middle);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .page-header__link:hover,
.page-header__link:focus,
.page-header__link-e-mail:hover,
.page-header__link-e-mail:focus {
    color: var(--ad-color-light);
  }
}
@media screen and (min-width: 1200px) {
  .page-header__item-contact:not(:first-child) {
    margin-left: 30px;
  }
  .page-header__site-nav {
    margin-left: 93px;
  }
  .page-header__header-contacts {
    flex-direction: row;
    margin-left: auto;
  }
}
.page-header__mob-menu {
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.mob-menu__close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--main-color-dark);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__close-icon:hover, .mob-menu__close-icon:focus {
  fill: var(--ad-color-light);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translateX(0);
}

.hero.section {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bgimg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bgimg@2x.jpg);
  }
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--main-color-light);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  max-width: 360px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bgimg_tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bgimg_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bgimg_pc.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bgimg_pc@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  flex-basis: 100%;
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--main-bg-color-middle);
}

.advantages__sub-title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--ad-color-dark);
}

.advantages__text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color-middle);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .advantages__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .advantages__sub-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .advantages__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
  .advantages__item:nth-child(n+2) {
    margin-right: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__sub-title {
    text-align: left;
  }
}
.photos-tile {
  display: none;
}

@media screen and (min-width: 1200px) {
  .photos-tile {
    display: block;
    padding-top: 0;
  }
  .photos-tile__list {
    display: flex;
  }
  .photos-tile__item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
  }
  .photos-tile__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .photos-tile__image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color-light);
  }
}
.team {
  background-color: var(--main-bg-color-middle);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  flex-basis: 100%;
  background-color: var(--main-bg-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__member-info {
  padding: 30px 0;
}

.team__sub-title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--ad-color-dark);
}

.team__text {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-middle);
}

.team__soc-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__soc-icons:not(:last-child) {
  margin-right: 10px;
}

.team__soc-list-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  color: var(--main-bg-color-middle-second);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--ad-color-light);
  color: var(--main-bg-color-light);
}

.team__soc-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .team__item:nth-child(n+0) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.clients__list-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
.clients__list-item:nth-child(2n+1) {
  margin-right: 30px;
}
.clients__list-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid var(--main-bg-color-middle-second);
  border-radius: 4px;
  fill: var(--main-bg-color-middle-second);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: var(--ad-color-light);
  fill: var(--ad-color-light);
}

@media screen and (min-width: 768px) {
  .clients__list-item {
    width: calc((100% - 60px) / 3);
  }
  .clients__list-item:nth-child(n+0) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .clients__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list-item {
    width: calc((100% - 150px) / 6);
  }
  .clients__list-item:nth-child(n+0) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .clients__list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.footer {
  padding: 60px 0;
  background-color: var(--main-bg-color-dark);
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__columns > div:not(:last-child) {
  margin-bottom: 60px;
}

.footer__first-column {
  width: 100%;
}

.footer__logo {
  margin: 0 0 20px 0;
  text-align: center;
  color: var(--main-color-light);
}

.footer__logo-adcolor {
  color: var(--ad-color-light);
}

.footer__text {
  margin: 0 0 9px 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-light);
  font-style: normal;
}

.footer__link-e-mail,
.footer__link-tel {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-light);
  opacity: 0.6;
  font-style: normal;
  transition-property: color, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:first-child {
  margin: 0 0 9px 0;
}

.footer__link-e-mail:hover,
.footer__link-e-mail:focus,
.footer__link-tel:hover,
.footer__link-tel:focus {
  color: var(--ad-color-light);
  opacity: 1;
}

.footer__sub-title {
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-light);
}

.footer__second-column {
  width: 100%;
}

.footer__soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-color-light);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--ad-color-light);
}

.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__third-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__subscribe-form-input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.footer__subscribe-form-input::-moz-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-form-input:-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-form-input::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-form-input:not(:-moz-placeholder-shown) {
  color: rgb(255, 255, 255);
}
.footer__subscribe-form-input:not(:-ms-input-placeholder) {
  color: rgb(255, 255, 255);
}
.footer__subscribe-form-input:not(:placeholder-shown) {
  color: rgb(255, 255, 255);
}

.footer__subscribe-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 50px;
}

.footer__send-icon {
  fill: var(--main-bg-color-light);
}

@media screen and (min-width: 768px) {
  .footer__first-column {
    width: 50%;
  }
  .footer__second-column {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__columns {
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer__subscribe-form {
    flex-direction: row;
  }
  .footer__subscribe-form-input {
    width: 358px;
  }
  .footer__sub-title,
.footer__logo,
.footer__text,
.footer__link-e-mail,
.footer__link-tel {
    text-align: left;
  }
  .footer__soc-icons {
    justify-content: left;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.backdrop.is-hidden {
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--main-bg-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 100%) scale(0);
}

.modal-title {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--ad-color-dark);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  fill: var(--main-color-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--ad-color-light);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal > .form {
  display: flex;
  flex-direction: column;
}

.form > .form-field {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color-middle);
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color-middle);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--ad-color-light);
  outline: transparent;
}

.modal-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-input-icon {
  fill: var(--ad-color-light);
}

.modal-input-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}

.modal-input-wrapper .modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color-dark);
}

.form-input.textarea {
  width: 100%;
  height: 120px;
  margin: 0 0 20px 0;
  padding: 12px 0 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color-middle);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input.textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input.textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input.textarea:focus {
  border: 1px solid var(--ad-color-light);
  outline: transparent;
}

.form-checkbox {
  margin-bottom: 30px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-middle);
}
.checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 1px solid var(--ad-color-dark);
}

.deal-rules-link {
  color: var(--ad-color-light);
  text-decoration: underline;
  margin-left: 4px;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label:before {
  border: none;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/checked.svg);
}

.button.send {
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}

.portfolio__filter-button {
  display: block;
  padding: 6px 25px;
  min-width: 73px;
  border-radius: 4px;
  border: none;
  background-color: var(--main-bg-color-middle);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--ad-color-dark);
  cursor: pointer;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  color: var(--main-color-light);
  background-color: var(--ad-color-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__work-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}

.portfolio__item {
  flex-basis: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  outline: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__work-image {
  position: relative;
  overflow: hidden;
}

.portfolio__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-bg-color-light);
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__cover-text,
.portfolio__link:focus .portfolio__cover-text {
  transform: translateY(0);
}

.portfolio__image-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__sub-title {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--ad-color-dark);
  text-align: left;
}

.portfolio__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color-middle);
}

@media screen and (min-width: 768px) {
  .portfolio__filter-buttons {
    justify-content: center;
  }
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */