:root {
    --main-color-dark: #000000;
    --main-color-middle: #757575;
    --main-color-light: #FFFFFF;
    --main-bg-color-light: #ffffff;
    --main-bg-color-middle: #F5F4FA;
    --main-bg-color-dark: #2F303A;
    --ad-color-light: #2196F3;
    --ad-color-dark: #212121;
    --main-font: 'Roboto', arial, sans-serif;
}
body {
    background-color: var(--main-bg-color-light);
    color :var(--main-color-dark);
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* start header styles */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-color-dark);
}

.main-menu-list .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-dark);
}

.link-e-mail,
.link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-middle);
}

.logo-adcolor,
.main-menu-list .link:hover,
.main-menu-list .link:focus,
.link-e-mail:hover,
.link-e-mail:focus {
    color: var(--ad-color-light);
}

/* end header styles */

/* start main  styles */

.banner {
    background-color: var(--main-bg-color-dark);
}

.banner .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color-light);
}

.banner .button {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-color-light);
    background-color: var(--ad-color-light);
    cursor: pointer;
}

.banner .button:hover,
.banner .button:focus {
    background-color: #188CE8;;
}

.advantages .title-hidden {
    display: none;
}

.advantages .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ad-color-dark);
}

.advantages .sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ad-color-dark);
}

.advantages .text {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
}

.team {
    background-color: var(--main-bg-color-middle);
}

.team-item {
    background-color: var(--main-bg-color-light);
}

.team .sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
}

.team .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
}

/* start main  styles */

/* start footer styles */

.footer-info {
    background-color: var(--main-bg-color-dark);
}

.footer-info .logo {
    color: var(--main-color-light);
}

.logo-adcolor-footer {
    color: var(--ad-color-light);
}

.footer-info .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-light);
    font-style: normal;
}

.footer-contacts-list .link-e-mail,
.footer-contacts-list .link-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-light);
    opacity: 0.6;
    font-style: normal;
}

.footer-contacts-list .link-e-mail:hover,
.footer-contacts-list .link-tel:focus {
    color: var(--ad-color-light);
    opacity: 1;
}

/* end footer styles */

/* start portfolio main content */

.title-hidden {
    display: none;
}

.works-filter .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
    background-color: var(--main-bg-color-middle);
    cursor: pointer;
}

.works-filter .button:hover,
.works-filter .button:focus {
    color: var(--main-color-light);
    background-color: var(--ad-color-light);
}

.work-list .sub-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--ad-color-dark);
    text-align: left;
}

.work-list .text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
}

/* end portfolio main content */