:root {
    --main-color-dark: #000000;
    --main-color-middle: #757575;
    --main-color-light: #FFFFFF;
    --main-bg-color-light: #ffffff;
    --main-bg-color-middle: #F5F4FA;
    --main-bg-color-middle-second: #AFB1B8;
    --main-bg-color-dark: #2F303A;
    --ad-color-light: #2196F3;
    --ad-color-dark: #212121;
    --main-font: 'Roboto', arial, sans-serif;
}
body {
    background-color: var(--main-bg-color-light);
    color :var(--main-color-dark);
    font-family: var(--main-font);
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.section {
    padding: 94px 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: block;

    color: var(--main-color-dark);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-adcolor {
    color: var(--ad-color-light);
}

.main-nav__main-menu {
    display: flex;
}

.main-nav__item:not(:last-child) {
    margin-right: 50px;
}

.main-nav__site-nav {
    margin-left: 93px;
}

.main-nav__link {
    display: block;
    padding: 32px 0;
    position: relative;

    color: var(--main-color-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link--active {
    color: var(--ad-color-light);
}

.main-nav__link--active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--ad-color-light);
}

.main-nav__header-contacts {
    display: flex;
    margin-left: auto;
}

.main-nav__item:last-child {
    margin-left: 30px;
}

.main-nav__link-e-mail {
    display: flex;

    color: var(--main-color-middle);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.main-nav__contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link-e-mail:hover,
.main-nav__link-e-mail:focus {
    color: var(--ad-color-light);

}

/* Banner on top */

.hero.section {
    padding-top: 200px;
    padding-bottom: 400px;
    max-width: 1600px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../img/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;

    color: var(--main-color-light);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    max-width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    min-width: 216px;

    background-color: var(--ad-color-light);
    border-radius: 4px;
    border: none;
    color: var(--main-color-light);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #188CE8;
}

/* Company advantages */

.advantages .title-hidden {
    display: none;
}

.container .advantages-list {
    display: flex;
}

.advantages-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--main-bg-color-middle);
}

.advantages-item {
    flex-basis: calc((100% - 90px) / 4);
}

.advantages-item:not(:last-child) {
    margin-right: 30px;
}

.advantages .sub-title {
    margin: 0 0 10px 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ad-color-dark);
}

.advantages .text {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
    margin: 0;
}

/* What we are do */

.photos-tile {
    padding-top: 0;
}

.photos-tile .title {
    margin: 0 0 50px 0;

    color: var(--ad-color-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}

.photos-tile .list {
    display: flex;
}

.photos-tile .item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.photos-tile .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.photos-tile .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color-light);
}

/* Our team */

.team {
    background-color: var(--main-bg-color-middle);
}

.team .list {
    display: flex;
}

.team .title {
    margin: 0 0 50px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
}

.team-item {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--main-bg-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.teammember-info {
    padding: 30px 0;
}

.team .sub-title {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
}

.team .text {
    margin: 0 0 16px 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
}

.soc-icons.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-list-item:not(:last-child) {
    margin-right: 10px;
}

.soc-list-item {
    width: 44px;
    height: 44px;
}

.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    color: var(--main-bg-color-middle-second);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--ad-color-light);
    color: var(--main-bg-color-light);
}

.soc-icon {
    fill: currentColor;
}

/* Our clients */

.clients .title {
    margin: 0 0 50px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
}

.clients .list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.clients-list-item {
    width: 170px;
    height: 92px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid var(--main-bg-color-middle-second);
    border-radius: 4px;
    fill: var(--main-bg-color-middle-second);

    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    border-color: var(--ad-color-light);
    fill: var(--ad-color-light);
}

/* Footer */

.footer-info {
    padding: 60px 0;
    background-color: var(--main-bg-color-dark);
}

.footer-info .logo {
    margin: 0 0 20px 0;

    color: var(--main-color-light);
}

.logo-adcolor-footer {
    color: var(--ad-color-light);
}

.footer-info .text {
    margin: 0 0 9px 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-light);
    font-style: normal;
}

.footer-contacts .link-e-mail,
.footer-contacts .link-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-light);
    opacity: 0.6;
    font-style: normal;

    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts .item:first-child {
    margin: 0 0 9px 0;
}

.footer-contacts .link-e-mail:hover,
.footer-contacts .link-e-mail:focus,
.footer-contacts .link-tel:hover,
.footer-contacts .link-tel:focus {
    color: var(--ad-color-light);
    opacity: 1;
}

.sub-title-footer {
    margin: 0 0 20px 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-light);
}

.footer-columns {
    display: flex;
    align-items: baseline;
}

.footer-columns > .first-column {
    margin-right: 70px;
}

.footer-info .soc-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--main-color-light)
}

.footer-info .soc-link:hover,
.footer-info .soc-link:focus {
    background-color: var(--ad-color-light)
}

.footer-columns > .second-column {
    margin-right: 93px;
}

.subscribe-form {
    display: flex;
    gap: 12px;
}

.third-column {
    display: flex;
    flex-direction: column;
}

.subscribe-form-input {
    width: 358px;
    height: 50px;
    padding: 15px 0 15px 16px;
    margin: 0;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 0.03em;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
}

.subscribe-form-input::placeholder {
    font-size: 16px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input:not(:placeholder-shown) {
    color: rgba(255, 255, 255, 1.0);
}

.subscribe.button {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 50px;
}

.subscribe.button .send-icon {
    fill: var(--main-bg-color-light);
}

/* Portfolio */

/* Filter buttons */

.title-hidden {
    display: none;
}

.filter-buttons.list {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.filter-buttons .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio .filter-button {
    display: block;
    padding: 6px 25px;
    min-width: 73px;

    border-radius: 4px;
    border: none;

    background-color: var(--main-bg-color-middle);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
    cursor: pointer;

    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .filter-button:hover,
.portfolio .filter-button:focus {
    color: var(--main-color-light);
    background-color: var(--ad-color-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio works list */

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-list .item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list .item:hover,
.work-list .item:focus {
    outline: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list .item:nth-child(3n) {
    margin-right: 0px;
}

.work-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.work-list .work-image {
    position: relative;
    overflow: hidden;
}

.work-list .cover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-bg-color-light);
    overflow: auto;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.work-list-link:hover .cover-text,
.work-list-link:focus .cover-text {
    transform: translateY(0);
}

.image-info {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.work-list .sub-title {
    margin: 0 0 4px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--ad-color-dark);
    text-align: left;
}

.work-list .text {
    margin: 0;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
}

/* Backdrop styles */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
}

.backdrop.is-hidden {
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--main-bg-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, 100%) scale(0);
}

.modal-title {
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ad-color-dark);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    fill: var(--main-color-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    fill: var(--ad-color-light);
}

/* Backdrop form styles */

.modal > .form {
    display: flex;
    flex-direction: column;
}

.form > .form-field {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin: 0 0 4px 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: var(--main-color-middle);
}

.form-input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 12px 0 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-color-middle);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border: 1px solid var(--ad-color-light);
    outline: transparent;
}

.modal-input-icon{
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-input-icon {
    fill: var(--ad-color-light);
}

.modal-input-wrapper {
    position: relative;
    margin: 0 0 10px 0;
}

.modal-input-wrapper .modal-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--main-color-dark);
}

.form-input.textarea {
    width: 100%;
    height: 120px;
    margin: 0 0 20px 0;
    padding: 12px 0 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-color-middle);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input.textarea:focus {
    border: 1px solid var(--ad-color-light);
    outline: transparent;
}

.form-checkbox {
    margin-bottom: 30px;
}

.checkbox-label {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
}

.deal-rules-link {
    color: var(--ad-color-light);
    text-decoration: underline;
    margin-left: 4px;
}

.checkbox-label::before {
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border-radius: 2px;
    border: 1px solid var(--ad-color-dark);
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked + .checkbox-label:before {
    border: none;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/checked.svg);
}

.button.send {
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}