.logo {
    display: block;

    color: var(--main-color-dark);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-adcolor {
    color: var(--ad-color-light);
}