:root {
    --main-color-dark: #000000;
    --main-color-middle: #757575;
    --main-color-light: #FFFFFF;
    --main-bg-color-light: #ffffff;
    --main-bg-color-middle: #F5F4FA;
    --main-bg-color-middle-second: #AFB1B8;
    --main-bg-color-dark: #2F303A;
    --ad-color-light: #2196F3;
    --ad-color-dark: #212121;
    --main-font: 'Roboto', arial, sans-serif;
}
