.advantages__list {
    display: flex;
}

.advantages__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--main-bg-color-middle);
}

.advantages__item {
    flex-basis: calc((100% - 90px) / 4);
    &:not(:last-child) {
        margin-right: 30px;
    }
}

// .advantages__item:not(:last-child) {
//     margin-right: 30px;
// }

.advantages__sub-title {
    margin: 0 0 10px 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ad-color-dark);
}

.advantages__text {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color-middle);
    margin: 0;
}
