
.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__list-item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

// .clients__list-item:not(:last-child) {
//     margin-right: 30px;
// }

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid var(--main-bg-color-middle-second);
    border-radius: 4px;
    fill: var(--main-bg-color-middle-second);

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: var(--ad-color-light);
    fill: var(--ad-color-light);
}
}

// .client__link:hover,
// .client__link:focus {
//     border-color: var(--ad-color-light);
//     fill: var(--ad-color-light);
// }
