.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.clients__list-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid var(--main-bg-color-middle-second);
  border-radius: 4px;
  fill: var(--main-bg-color-middle-second);

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--ad-color-light);
    fill: var(--ad-color-light);
  }
}

@media screen and (min-width: 768px) {
  .clients__list-item {
    width: calc((100% - 60px) / 3);
    &:nth-child(n + 0) {
      margin-right: 0;
      margin-bottom: 0;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients__list-item {
    width: calc((100% - 150px) / 6);
    &:nth-child(n + 0) {
      margin-right: 0;
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
