header {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
    display: flex;
    align-items: center;
}

.page-header__main-menu {
    display: flex;
}

.page-header__item:not(:last-child) {
    margin-right: 50px;
}

.page-header__site-nav {
    margin-left: 93px;
}

.page-header__link {
    display: block;
    padding: 32px 0;
    position: relative;

    color: var(--main-color-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link--active {
    color: var(--ad-color-light);
    
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        
        width: 100%;
        height: 4px;

        border-radius: 2px;
        background-color: var(--ad-color-light);
    }

}

// .page-header__link--active::after {
//     position: absolute;
//     bottom: -1px;
//     left: 0;
//     content: "";
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;

//     background-color: var(--ad-color-light);
// }

.page-header__header-contacts {
    display: flex;
    margin-left: auto;
}

.page-header__item-contact:not(:first-child) {
    margin-left: 30px;
}

.page-header__link-e-mail {
    display: flex;

    color: var(--main-color-middle);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.page-header__contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.page-header__link:hover,
.page-header__link:focus,
.page-header__link-e-mail:hover,
.page-header__link-e-mail:focus {
    color: var(--ad-color-light);

}