.photos-tile {
    padding-top: 0;
}

.photos-tile__list {
    display: flex;
}

.photos-tile__item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
}

// .photos-tile__item:not(:nth-child(3n)) {
//     margin-right: 30px;
// }

.photos-tile__image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color-light);
}
